@import url('https://fonts.googleapis.com/css?family=Jost:regular,bold,italic&subset=latin,latin-ext');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: "Jost";
}

body {
    margin: 0;
}

.App {
    margin-bottom: 16vh;
}

