.calculator--form {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    gap: 8px;
    padding: 4vh;
    border-radius: 4px;
    overflow: hidden;
}

.calculator--form input, .calculator--form button {
    max-width: 200px;
}

.calculator-change-nav {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 0 2vh 0;
    border-bottom: 1px solid gray;
}

.calculator--form h3 {
    margin: 0;
    padding-bottom: .5vh;
}

.form--wrapper {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
    overflow: hidden;
}

.metric--container {
    display: flex;
    margin-bottom: 1vh;
    align-items: center;
    gap: 2vh;
}

.metric--container h3 {
    margin: 0;
}

.weight--label {
    display: inline;
}

.metric-btn, .calculate-btn {
    background-color: white;
    border-radius: 4px;
    border: 2px solid rgb(95, 95, 95);
    padding: 4px 8px 4px 8px;
    font-weight: 500;
}

.metric-btn:hover, .calculate-btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#weight--input {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid;
    margin-right: 2px;
}

.calorie-plans--container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

@media (max-width: 920px) {
    .calorie-plans--container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }

    .CaloriePlan {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;

    }
}

.CaloriePlan {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    min-width: 200px;
    border-radius: 12px;
    padding: 32px 52px 48px 52px;
}

.CaloriePlan:hover {
    background-color: gray;
    color: white;
}

.CaloriePlan h3 {
    margin: 0 0 8px 0;
}

.CaloriePlan span {
    margin-top: 10px;
}

h4 {
    margin-block: 2vh;
}

strong {
    color: #dc2626;
    text-decoration: underline;
}

