.journal--info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.EntryForm {
    background-color: rgb(43, 42, 42);
    color: white;
    border-radius: 12px;
    padding: 2vh;
}

.entry-form-tab {
    display: flex;
    align-items: center;
    margin-inline: 1.2vh;
    justify-content: space-between;
}