.MyPlans {
    margin: 2vh 5vh;
}

.MyPlans--info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MyPlans--info a {
    background-color: #dc2626;
    color: white;
    padding: 10px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    text-decoration: none;
}

.MyPlans--info a:hover {
    cursor: pointer;
    background-color: white;
    color: #dc2626;
};

.plans--container {
    background-color: gray;
    border: 1px solid black;
}