.MyPlans--info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MyPlans--info a {
    background-color: #dc2626;
    color: white;
    padding: 10px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    text-decoration: none;
}

.MyPlans--info a:hover {
    cursor: pointer;
    background-color: white;
    color: #dc2626;
}

.plan--container {
    background-color: rgb(43, 42, 42);
    color: white;
    border-radius: 12px;
    padding: 2vh;
}

.plan-name, .plan-settings, .split--container {
    margin-left: 20px;
    margin-right: 32px;
}

.plan-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
}