.Profile main {
    display: flex;
    justify-content: center;
}

.profile-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    max-width: fit-content;
}

.profile-nav button {
    background-color: #dc2626;
    color: white;
    padding: 10px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    font-size: 1.5rem
}

.profile-nav button:hover {
    background-color: white;
    color: #dc2626;
}
