:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --nav-clr: #dc2626;
    --nav-font-clr: #ffffff;
}

body {
    margin: 0;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-clr);
    color: var(--nav-font-clr);
}

.Navbar ul, .logo {
    margin-inline: 16px;
}

.Navbar h1 a {
    text-decoration: none;
    color: white;
}

.Navbar h1 a:hover {
    text-decoration: underline 2px var(--nav-font-clr);
}

.Navbar ul {
    display: flex;
    justify-content: center;
    gap: 8px;
    list-style: none;
    padding: 0;
}

.container {
    margin: 2vh 5vh 2vh 5vh;
}

.Navbar img {
    height: 28px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(107%) contrast(101%);
}

.Navbar ul a:hover {
    border-bottom: 2px white solid;
}

button {
    cursor: pointer;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--nav-clr);
    padding: 4px;
    text-align: center;
}

footer a {
    color: var(--nav-font-clr);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}