:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --nav-clr: #dc2626;
    --nav-font-clr: #ffffff;
}

body {
    margin: 0;
}

.App {
    margin-bottom: 8vh;
}

@media (max-width: 500px) {
    .Navbar ul {
        visibility: collapse;
    }
    footer .media-full {
        visibility: collapse;
    }

    footer .nav-links li {
        height: 40px;
        width: 40px;
        list-style: none;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(107%) contrast(101%);
    }
    
    footer .nav-links li:hover {
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(107%) contrast(101%);
    }
    
}

@media (min-width: 501px) {
    .Navbar ul {
        visibility: visible;
    }
    footer .nav-links {
        height: 0;
        visibility: collapse;
    }
}

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-clr);
    color: var(--nav-font-clr);
}

.Navbar ul, .logo {
    margin-inline: 3vh;
}

.Navbar h1 a {
    text-decoration: none;
    color: white;
}

.Navbar h1 a:hover {
    text-decoration: underline 2px var(--nav-font-clr);
}

.Navbar ul {
    display: flex;
    justify-content: center;
    gap: 8px;
    list-style: none;
    padding: 0;
}

.container {
    margin: 2vh 5vh 2vh 5vh;
}

.Navbar img {
    height: 28px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(107%) contrast(101%);
}

.Navbar ul a:hover {
    border-bottom: 2px white solid;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

footer .nav-links {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--nav-clr);
    padding: 12px;
    text-align: center;
    margin: 0;
}
