.calculator--form {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    gap: 8px;
    padding: .5vh 4vh 2.5vh 4vh;
    border-radius: 8px;
    overflow: hidden;
}

.calculator--form input, .calculator--form button {
    max-width: 200px;
}

.calculator-change-nav {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 0 2vh 0;
    border-bottom: 1px solid gray;
}

h3 {
    margin: 1em 0 1em 0;
    padding-bottom: .5vh;
}

.calculator-app-header {
    margin-bottom: 18.72
}

p {
    margin: 0;
}

.CaloriePlan span {
    font-weight: bold;
}

.form--wrapper {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
    overflow: hidden;
}

.metric--container {
    display: flex;
    margin-bottom: 1vh;
    align-items: center;
    gap: 2vh;
}

.metric--container h3 {
    margin: 0;
}

.weight--label {
    display: inline;
}

#weight--input {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid;
    margin-right: 2px;
}

.calorie-plans--container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

@media (max-width: 1000px) {
    .calorie-plans--container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }

    .CaloriePlan {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
    }
}

.CaloriePlan {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    min-width: 200px;
    border-radius: 12px;
    padding: 32px 52px 48px 52px;
    max-width: 300px;
}

.CaloriePlan:hover {
    background-color: #dc2626;
    color: #ffffff;
}

.CaloriePlan:hover strong{
    background-color: #dc2626;
    color: white;
}

.CaloriePlan h3 {
    margin: 0 0 8px 0;
}

.CaloriePlan span {
    margin-top: 10px;
}

strong {
    color: #dc2626;
    text-decoration: underline;
}

